﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9">

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet">
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">


    <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/all-ie-only.css")" />
    <![endif]-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- include jQuery :) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

    <!-- jQuery Modal -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />

</head>
<body>


    <nav class="navbar navbar-expand-lg shadow-lg bg-white w-100" id="mainNav">

        
            <img src="@Url.Content("~/images/plusviewer_logo.png")" class="d-none d-lg-block" style="width: 17%" />
        

        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            
            <img src="@Url.Content("~/images/btn_plusviewer_menu.png")" style="width: 40px" />


        </button>


       
       <div class="collapse navbar-collapse" id="navbarResponsive">
   
           <ul class="navbar-nav" style="width: 100%;">

               <li class="nav-item ml-5 @(ViewContext.RouteData.Values["Controller"].ToString() == "Documents" ? "active" : "")">

                   <a href="@Url.Action("Document","Documents")" class="">Moje doklady</a>

               </li>
               <li class="nav-item ml-5 @(ViewContext.RouteData.Values["Controller"].ToString() == "Profil" ? "active" : "")">
                   <a href="@Url.Action("Profil", "Profil")" class="">Můj účet</a>
               </li>
               <li class="nav-item item1">@ViewBag.Client</li>
           </ul>
        </div>
        <div class="mr-2 mt-2">
            <ul style="list-style-type: none;">
                
                <li class="nav-item loho_">

                    <img class="position-absolute" src="@Url.Content("~/images/btn_plusviewer_ucet_menu.png")" style="width: 40px" />

                    <ul class="ml-2 dropdown" style="list-style-type: none;">

                        <li class="mr-5"><b style="font-size: 15px;">@ViewBag.Model.Name</b></li>
                        <li style="font-size: 13px; margin-top: -5px;"><small>@ViewBag.Model.Company</small></li>
                        <li>
                            <div class="dropdown-content">
                                <a class="nav-link text-secondary" href="@Url.Action("Logout", "Login")">Odhlásit</a>
                            </div>
                        </li>
                    </ul>

                </li>
            </ul>
        </div>

    </nav>


    <div class="clearfix"></div>

    <div class="container">
        @RenderBody()
    </div>


    <div class="shadow-lg bg-white w-100 position-fixed " style=" bottom: 0px; height: 30px;">
        <p class=" text-right mr-3 mb-3">ITFutuRe s.r.o. @DateTime.Now.Year</p>
    </div>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script type="text/javascript" async="" src="https://cdn.heapanalytics.com/js/heap-2625472963.js"></script>
    <script type="text/javascript" charset="utf-8" async="" src="https://static.codepen.io/assets/packs/0-06595bcfca5c9dc2b512.js"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/accordeon.js")"></script>
    <script src="@Url.Content("~/Scripts/formsubmit.js")"></script>
</body>
</html>
