﻿@using System.Web.Mvc.Html;
@using PlusViewer.Models;
@using PagedList.Mvc;


@model PagedList.IPagedList<TableInformationModel>

@{
    ViewBag.Title = "Prohlížení dokladů";
    string name = ViewBag.Search == null ? ViewBag.Order == null ? ViewBag.Elem == null ?
            ViewBag.Doc : ViewBag.Elem : ViewBag.Order : ViewBag.Search;

}

@if (ViewBag.Search != null)
{
    <p class="ml-2 mt-2">Vysledky vyhledavani pro <strong>@ViewBag.Str</strong></p>
}

<div class="row shadow-lg w-80 mb-5  bg-white rounded mx-auto mt-5">

    @using (Html.BeginForm("Search", "Documents", FormMethod.Post))
    {
        <div id="custom-search-input " class="mt-5">
            <div class="input-group col-md-12">
                <input type="submit" value="" class="btn btn_search my-2 my-sm-0 mr-2" />
                <input type="text" class="input-group rounded search_input text-center" placeholder="hledat doklad" name="str" id="searchBox" />

            </div>
        </div>


    }



    <div class="row">


        <div class="col mt-3 ml-5" style="max-width: 20%">

            <div class="ml-3">
                <a href="@Url.Action("Document","Documents")">--zobrazit vse--</a>
            </div>

            <div class="main-accordion accordion js-accordion">

                @for (int i = 0; i < ViewBag.Accordion.Count; i++)
                {
                    <div class="accordion__item js-accordion-item">
                        <div class="accordion-header js-accordion-header">
                            <a href="@Url.Action("GetElementsByTypeAndDB", new { dbName = ViewBag.Accordion[i].DBName,
                                    type = -1 })">
                                <b><i> @ViewBag.Accordion[i].DBCompanyName </i></b>
                            </a>

                            <div>
                                <small> @ViewBag.Accordion[i].DBName</small>
                                <span class="badge badge-danger badge-pill">
                                    @Convert.ToInt32(ViewBag.Accordion[i].CountInDb)
                                </span>
                            </div>

                        </div>
                        <div class="accordion-body js-accordion-body">

                            <div class="accordion js-accordion">
                                <div class="accordion__item js-accordion-item">
                                    <div class="accordion-header js-accordion-header ml-2">
                                        Faktury
                                        <span class="badge badge-danger badge-pill">
                                            @Convert.ToInt32(ViewBag.Accordion[i].CountInvoices)
                                        </span>
                                    </div>
                                    <div class="accordion-body js-accordion-body ml-4">
                                        @for (int y = 0; y < ViewBag.Accordion[i].Accordeon.Count - 2; y++)
                                        {
                                            <div class="accordion-body__contents">
                                                <a href="@Url.Action("GetElementsByTypeAndDB", new { dbName = ViewBag.Accordion[i].DBName,
                                                        type = ViewBag.Accordion[i].Accordeon[y].TypeOfDocument })">
                                                    @ViewBag.Accordion[i].Accordeon[y].Name
                                                </a>
                                                <span class="badge badge-danger badge-pill">
                                                    @Convert.ToInt32(ViewBag.Accordion[i].Accordeon[y].Count)
                                                </span>
                                            </div><!-- end of sub accordion item body contents -->
                                        }


                                    </div><!-- end of sub accordion item body -->
                                </div><!-- end of sub accordion item -->
                                <div class="accordion__item js-accordion-item">
                                    <div class="accordion-header js-accordion-header ml-2">
                                        Skladove doklady
                                        <span class="badge badge-danger badge-pill">
                                            @Convert.ToInt32(ViewBag.Accordion[i].CountInstokeDocuments)
                                        </span>
                                    </div>
                                    <div class="accordion-body js-accordion-body ml-4">
                                        <div class="accordion-body__contents">
                                            <a href="@Url.Action("GetElementsByTypeAndDB", new { dbName = ViewBag.Accordion[i].DBName,
                                                    type = ViewBag.Accordion[i].Accordeon[ViewBag.Accordion[i].Accordeon.Count - 2].TypeOfDocument })">
                                                @ViewBag.Accordion[i].Accordeon[ViewBag.Accordion[i].Accordeon.Count - 2].Name
                                            </a>
                                            <span class="badge badge-danger badge-pill">
                                                @Convert.ToInt32(ViewBag.Accordion[i].Accordeon[ViewBag.Accordion[i].Accordeon.Count - 2].Count)
                                            </span>
                                        </div><!-- end of sub accordion item body contents -->
                                        <div class="accordion-body__contents">
                                            <a href="@Url.Action("GetElementsByTypeAndDB", new { dbName = ViewBag.Accordion[i].DBName,
                                                    type = ViewBag.Accordion[i].Accordeon[ViewBag.Accordion[i].Accordeon.Count - 1].TypeOfDocument })">
                                                @ViewBag.Accordion[i].Accordeon[ViewBag.Accordion[i].Accordeon.Count - 1].Name
                                            </a>
                                            <span class="badge badge-danger badge-pill">
                                                @Convert.ToInt32(ViewBag.Accordion[i].Accordeon[ViewBag.Accordion[i].Accordeon.Count - 1].Count)
                                            </span>

                                        </div><!-- end of sub accordion item body contents -->
                                    </div><!-- end of sub accordion item body -->
                                </div><!-- end of sub accordion item -->

                            </div><!-- end of sub accordion -->

                        </div><!-- end of accordion body -->
                    </div><!-- end of accordion item -->
                    <!-- need to generate until this -_- -->



                }
            </div><!-- end of accordion -->

        </div>

        <div class="mobileShow ml-5">
            <hr />
            @for (int i = 1; i <= 10; i += 2)
            {

                <p class="float-left ml-2" style="margin-top: 11px;">@ViewBag.TableInfo[(int)i / 2]</p>
                <ul class="ml-5" style="list-style-type: none;">

                    <li>

                        @using (Html.BeginForm("OrderBy", "Documents", FormMethod.Post))
                        {
                            <input type="submit" value="@i" class="btn btn_up my-2 my-sm-0" name="condition" />


                        }
                    </li>

                    <li>

                        @using (Html.BeginForm("OrderBy", "Documents", FormMethod.Post))
                        {
                            <input type="submit" value="@(i+1)" class="btn btn_down" name="condition" />


                        }

                    </li>

                </ul>

            }
            <hr />
        </div>

        <div class="col mr-5 for-margin-class" style="margin-top: -60px;">

            <table class="table_style mb-3">
                <thead role="rowgroup">
                    <tr role="row">

                        @for (int i = 1; i <= 10; i += 2)
                        {
                            <th role="columnheader">
                                <p class="float-left" style="margin-top: 11px;">@ViewBag.TableInfo[(int)i / 2]</p>
                                <ul class="ml-5" style="list-style-type: none;">

                                    <li>

                                        @using (Html.BeginForm("OrderBy", "Documents", FormMethod.Post))
                                        {
                                            <input type="submit" value="@i" class="btn btn_up my-2 my-sm-0 mr-2" name="condition" />

                                        }
                                    </li>
                                    <li>

                                        @using (Html.BeginForm("OrderBy", "Documents", FormMethod.Post))
                                        {
                                            <input type="submit" value="@(i+1)" class="btn btn_down my-2 my-sm-0 mr-2" name="condition" />

                                        }
                                    </li>
                                </ul>
                            </th>
                        }


                        <th role="columnheader">
                            <p class="float-left" style="margin-top: -5px;">dokument</p>

                        </th>

                    </tr>
                </thead>
                <tbody role="rowgroup">
                    @if (Model.Count > 0)
                    {
                        foreach (TableInformationModel t in Model)
                        {
                            <tr role="row" style="border: none">
                                <td>@t.Number</td>
                                <td style="max-width: 170px;">@t.Parthner</td>
                                <td class="text-right">@t.Amount</td>
                                <td>@t.Currency</td>
                                <td>@t.Date</td>
                                <td>
                                    <!-- 13769 -->
                                    <a href="@Url.Action("GetDocumentPdf", "Documents", new { dbName = t.DBName, id = t.ID })" target="_blank" class="float-left mt-3">
                                        <img class="mx-auto d-block" src="@Url.Content("~/images/btn_plusviewer_pdf.png")" style="width: 30px;" />
                                    </a>

                                </td>

                            </tr>
                            <tr style="max-width: 80%" class="hidden_phone">
                                <td colspan="6" class="small">@t.DBName,  \\itfuture\POHODAE1\Dokumenty\ITFutuRe\@t.Link </td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr role="row">
                            <td colspan="6" style="width:100%; text-align: center;"> Nebyly nalezeny žádné záznamy</td>
                        </tr>
                    }

                </tbody>
            </table>


            @if (Model.Count > 0)
            {

                using (Html.BeginForm(name, "Documents", FormMethod.Post, new { id = "form1" }))
                {
                    <div class="col-sm-10 pag-par mgr">
                        <div class="center">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination">
                                    @Html.PagedListPager(Model, page => Url.Action(name, new
                               {
                                   page,
                                   pageSize = ViewBag.psize,
                                   str = ViewBag.str,
                                   condition = ViewBag.cond,
                                   type = ViewBag.Type,
                                   dbName = ViewBag.DDName
                               }),

                     new PagedListRenderOptions
                     {
                         LiElementClasses = new string[] { "page-item", "page-link", "text-danger", "border-0" },
                         MaximumPageNumbersToDisplay = 3
                     })

                                </ul>
                            </nav>
                            <small>Zobrazeno od @Model.FirstItemOnPage do @Model.LastItemOnPage z celkového počtu @Model.TotalItemCount dokladů </small>

                            @if (ViewBag.pageSize != null && !String.IsNullOrEmpty(ViewBag.Doc))
                            {
                                <div class="float-right mb-2">
                                    Položek na stránce:

                                    @Html.DropDownList("pageSize", new SelectList(ViewBag.PageSize, "Value", "Text"))


                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="clearfix mb-5"></div>
            }



        </div>

    </div>
</div>
