﻿
@{
    ViewBag.Title = "Prohlížení pdf";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}


<div class="row shadow-lg w-80 mb-5 bg-white rounded mx-auto mt-5" style="min-height: 100px">

    @if (ViewBag.Links.Length > 0)
    { 

        for (int i = 0; i < ViewBag.Links.Length; i++)
        {
            if (ViewBag.Links[i].Equals("no such file on directory !"))
            {
                <h4 class="ml-5 mt-3">@ViewBag.Links[i]Nejsou k dispozici žadné soubory!</h4>
            }
            else
            {

            <div class="row panel-group w-75 mx-auto m-3 border-bottom">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title ">

                            <a data-toggle="collapse" href="#collapse-@Convert.ToInt32(i)">@ViewBag.Links[i].Split('\\')[ViewBag.Links[i].Split('\\').Length - 1] </a>


                            
                                <a class="withou-line1" href="@ViewBag.Links[i]" download style="margin-left: 40em">
                                    <span class="tooltiptext">Stáhnout</span>
                                    <img src="@Url.Content("~/images/down_plusviewer_icon.png")" alt="download" width="25" height="25" />
                                </a>


                                <a class="withou-line2 ml-3" href="@ViewBag.Links[i]" target="_blank">
                                    <span class="tooltiptext">Náhled</span>
                                    <img src="@Url.Content("~/images/view_plusviewer.png")" alt="nahled" width="35" height="35" />
                                </a>
                            

                        </div>
                    </div>
                    @if (ViewBag.Links.Length == 1)
                    {
                        <div id="collapse-@Convert.ToInt32(i)" class="panel-collapse collapse show mt-2">
                            <embed src="@Url.Content(ViewBag.Links[i])" type="application/pdf" width="900" height="600" />
                        </div>
                    }
                    else
                    {
                        <div id="collapse-@Convert.ToInt32(i)" class="panel-collapse collapse mt-2">
                            <embed src="@Url.Content(ViewBag.Links[i])" type="application/pdf" width="900" height="600" />
                        </div>
                    }

                </div>
            </div>
            }

        }
    }
    else if (ViewBag.Links.Length == 0)
    {
        <div>
            <h4>Tento doklad neobsahuje žádné soubory </h4>
        </div>
    }


</div>
