﻿/* 600px   */
.first_col {
   margin-right: 55%;
}

/* -357px;   600px; */
.second_col {
    margin-top: -32%;
    margin-left: 55%;
}

/* 1150px;  -50px; */

.loho_ {
    margin-left: 90%;
    margin-top: -3em;
}

/* 100px */
.table_style {
    max-width: 60%;
    margin-left: 30%;
}

.main-accordion {
    position: absolute;
}

.search_input {
    width: 15%;
    margin-top: 2%;
}

.search_input:focus {
    max-width: 20%;
}

.pagination {
    margin-left: 20%;
}

.pagination ul li {
    display: inline
}

.pag-par {
    padding: 2%;
}

.navbar-collapse.collapse {
    display: block !important;
}

.navbar-nav > li, .navbar-nav {
    float: left !important;
    margin-left: 30%;
    margin-top: -20px;
    font-size: 19px;
}
.navbar-nav {
    margin-left: 20%;
    max-width: 60%;
}

   

