﻿.column {
    max-width: 300px;
    margin: auto;
    margin-top: 7%;
    border-radius: 25px;
}

a, h3, h2 {
    color: #4D4D4D;
}

a:hover {
    color: black;
}

.withou-line1:hover, .withou-line2:hover {
    text-decoration: none;

}
.mobileShow {
    display: none;
} 



.column a {
    text-decoration: none;
}
.column {
    border: 4px solid white;
}

.column:hover {
    cursor: pointer;
    border-color: red;


}


.column:before {
    content: '';
    background-color: aliceblue;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.001, 0.001);
    animation: effect_dylan 0.8s ease-out;
}

.column:focus {
    outline: 0;
    color: #fff;
}

@keyframes effect_dylan {
    50% {
        transform: scale(1, 1);
        opacity: 0;
    }

    99% {
        transform: scale(0.001, 0.001);
        opacity: 0;
    }

    100% {
        transform: scale(0.001, 0.001);
        opacity: 1;
    }
}

.navbar-nav .nav-item :hover {
    border-bottom: 5px solid red;
    text-decoration: none;
}

.navbar-nav .nav-item.active {
    border-bottom: 5px solid red;
}
.navbar-nav .nav-item.active :hover {
    border-bottom: 0px solid white;
}

.table_style {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}

    /* :nth-child(even) */
.table_style tr:nth-child(even)  {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid red;
}
  
.table_style th {
    border-bottom: 1px solid #b8babc;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    max-width: 300px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

body::-webkit-scrollbar {
    width: 0.5em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: red;
    outline: 1px solid slategrey;
}


@media (min-width: 1000px) {
    .first_col {
        margin-right: -15%;
    }
    .item1 {
        margin-left: 30%;
    }
}


@media only screen and (max-width: 600px) {
    .login_img {
        max-width: 300px;
    }
}

input {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    max-width: 50%;
}
.plofil_input {
    max-width: 70%;
}
.search_input:focus {
    max-width: 70%;
    width: 70%;
    border-color: red;
}

.plofil_input:focus {
    max-width: 175%;
    width: 175%;
    border-color: red;
}

    .login_input:focus {
        max-width: 100%;
        width: 100%;
        border-color: red;
    }


.col-lg-7 img {
    width: 100%;
}


.anim {
    
    -webkit-transition: width 1s, height 1s, -webkit-transform 2s;
    transition: width 1s, height 1s, transform 1s;
}

.anim:hover {
    -webkit-transform: rotate(430deg); 
    transform: rotate(430deg);
}

.mgr {
    margin-right: 50%;    
}





.accordion {
    font-size: 1rem;
    width: 30vw;
    margin: 0 auto;
    border-radius: 5px;
}




.accordion-header:hover {
    position: relative;
    z-index: 5;
    text-decoration: none;
}
    

.accordion-body {
    display: none;
}

.accordion-body__contents {
    padding: .2em .2em;
    font-size: .8em;
}


.js-accordion-header {
    width: 50%;
}

.js-accordion-header:hover, .accordion-body__contents:hover {
    cursor: pointer;
    background-color: #e5e6e8;
    border-bottom: 1px solid red;
    text-decoration: none;
    border-radius: 2px;
    width: 50%;
}
    
.accordion:first-child > .accordion__item > .accordion-header {
    border-bottom: 1px solid transparent;
}

.accordion__item .accordion__item .accordion-header {
    color: black;
}
    



.btn_search {
    background-image: url(/images/btn_plusviewer_lupa.png);
    background-repeat: no-repeat;
    max-width: 25px;
    background-size: 25px;
    margin-left: 10%;
}

.btn_up {
    background-image: url(/images/btn_plusviewer_up.png);
    background-repeat: no-repeat;
    max-width: 15px;
    background-size: 15px;
    height: 16px;
    color: transparent;
}

.btn_down {
    background-image: url(/images/btn_plusviewer_down.png);
    background-repeat: no-repeat;
    max-width: 15px;
    background-size: 15px;
    height: 25px;
    color: transparent;
}


.btn_down:hover, .btn_up:hover {
    color: transparent;
}


@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    .navbar-nav .nav-item :hover {
            border-bottom: 0px solid white;
        }

        .navbar-nav .nav-item.active {
            border-bottom: 0px solid white;
        }

        .mgr {
            margin-right: 10%;
        }

        .hidden_phone {
            display: none;
        }

        .col-lg-7 img {
            width: 150px;
        }

        input[type=password]:focus {
            width: 100%;
            border-color: red;
        }
        
        .login_input {
            max-width: 70%;    
        }


        .centered {
            text-align: center;
            margin: 0 auto;
        }

        hr {
            max-width: 50%;
        }

        .row {
            display: grid;
        }

        .table_style {
            max-width: 80%;
        }

        /* Force table to not be like tables anymore */
        table, thead, tbody, th, td, tr {
            display: block;
        }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

        tr {
            margin: 0 0 5rem 0;
            
        }

            tr:nth-child(odd) {
                background: #eff0f2;
            }

        td {
            /* Behave  like a "row" */
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding-left: 50%;
        }

            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 0;
                left: 6px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
            }

        .for-margin-class {
            margin-left: 10%;
        }

    .item1 {
        margin-left: 14%;
    }
    .mgr {
        margin-top: 17%;
    }

    }


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .mobileShow {
        display: inline;
    }
}