﻿@model PlusViewer.Models.UserInfo

@{
    ViewBag.Title = "Uživatelský učet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (TempData["message-success"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@TempData["message-success"]</strong>
    </div>
}
else if (TempData["error"] != null)
{
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>@TempData["error"]</strong>
    </div>
}

<div class="row shadow-lg mb-5 bg-white rounded mx-auto mt-5 w-75">

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalContent">
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="container">
        <div class="row">

            <div class="col-lg-7 mt-5 mb-2 ml-5" style="max-width: 20%">
                <img src="@Url.Content("~/images/btn_plusviewer_ucet.png")" />
                <h3 class="ml-2 mt-3 hidden_phone">můj účet</h3>
            </div>

            <div class="col-lg-5 mt-5 ml-2 mb-3">

                <h3 class="media-heading">@Model.Name </h3>

                <h4><small>@Model.Company </small></h4>

                <h5>
                    <small>Stát: Česká Republika</small>
                </h5>

                <hr class="hidden_phone" style="background-color: red">

                @using (Html.BeginForm("UpdatePassword", "Profil", FormMethod.Post, new { @class = "form-horizontal ", id = "loginform" }))
                {
                    <div>
                        <div class="mb-3 w-50">
                            <input type="password" class="input-group rounded text-center plofil_input" name="oldPassword" placeholder="staré heslo">
                        </div>
                        <div class="mb-3 w-50">
                            <input type="password" class="input-group rounded text-center plofil_input" name="newPassword" placeholder="nové heslo" minlength="5">
                        </div>
                        <div class="mb-3 w-50">
                            <input type="password" class="input-group rounded text-center plofil_input" name="confirmPassword" placeholder="nové heslo" minlength="5">
                        </div>
                        <div>
                            <button class="btn btn-danger">Změnit heslo</button>
                        </div>
                    </div>
                }
                <hr class="hidden_phone" style="background-color: red">
                <div class="mt-3" style="margin-bottom: 30%;">
                    <a href="@Url.Action("Logout", "Login")" class="btn btn-danger text-white">Odhlásit se</a>

                </div>







            </div>
        </div>
    </div>
</div>
