﻿
@{
    Layout = null;


}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Zapomenuté heslo</title>

    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet">

    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>

    @if (TempData["error"] != null)
    {

        <div class="alert alert-danger alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@TempData["error"]</strong>
        </div>
    }
    else if (TempData["success"] != null)
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>@TempData["success"]</strong>
        </div>
    }

    <div class="container">
        <div id="loginbox" class="mainbox border shadow-lg w-80 mb-5 bg-white rounded mx-auto mt-5">
            <div class="panel panel-info row">
                <div class="ml-5">
                    <img src="@Url.Content("~/images/PlusViewer.png")" class="login_img" style="max-width: 90%" />
                </div>

                <div style="" class="panel-body col mx-auto">
                    <div class="panel-heading h3 mb-5 mt-5 ml-2 centered">
                        <div class="ml-5"><h2>Zapomenuté heslo</h2></div>
                        <p class="ml-5"><small>@ViewBag.Client</small></p>
                    </div>


                    <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>




                    @using (Html.BeginForm("Remember", "Login", FormMethod.Post, new { @class = "form-horizontal ml-5 ", id = "loginform" }))
                    {

                        <div class="input-group mb-4 w-75 ml-2 centered">

                            <input type="text" class="input-group rounded text-center login_input" name="login" placeholder="email">
                        </div>
                       
                        <input type="text" name="msg" value="@Url.Action("ChangePassword","Login")" hidden/>

                        <div class="form-group mt-5 ml-2">

                            <div>
                                <button class="btn btn-danger" type="submit">Odeslat e-mail</button>
                                <div class="float-right mgr">
                                    <a href="@Url.Action("Index", "Login")" style="color: #4D4D4D;">Zpět na web</a>
                                </div>

                            </div>
                        </div>

                    }
                </div>

            </div>
        </div>

    </div>


    <div class="shadow-lg bg-white w-100 position-fixed " style=" bottom: 0px; height: 30px;">
        <p class=" text-right mr-3 mb-3">ITFutuRe s.r.o. @DateTime.Now.Year</p>
    </div>

    



    <script src="@Url.Content("~/Scripts/jquery-3.0.0.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>


</body>
</html>