﻿@{
    ViewBag.Title = "Hlavní stránka";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>@(ViewBag.CurrentInfo) </p>




<div class="main_col text-center mx-auto row">
    <div class="column first_col shadow-lg bg-white col p-5">
        <a href="@Url.Action("Document","Documents")">
            <h3 style="margin-bottom: 10%;">Moje doklady</h3>
            <img src="@Url.Content("~/images/btn_plusviewer_doklady.png")" style="max-width: 200px;" />
        </a>
    </div>

    <div class="column second_col shadow-lg bg-white col p-5 mb-5">
        <a href="@Url.Action("Profil", "Profil")">
            <h3 style="margin-bottom: 10%;">Můj účet</h3>
            <img src="@Url.Content("~/images/btn_plusviewer_ucet.png")" style="max-width: 200px;" />
        </a>
    </div>
</div>

